### AL ###
#Template for AL projects for Dynamics 365 Business Central
#launch.json folder
.vscode/
#Cache folder
.alcache/
cache/
#Symbols folder
.alpackages/
#Snapshots folder
.snapshots/
checkpoints/
#Testing Output folder
.output/
#Extension App-file
*.app
#Rapid Application Development File
rad.json
#Translation Base-file
*.g.xlf
#License-file
*.flf
#Test results file
TestResults.xml
notebooks/data_validation/nc.ipynb
notebooks/figures/Fig4_c.ipynb
notebooks/data_validation/Fig4_c.ipynb
